<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Landsat Map demo</title>
    <link rel="stylesheet" href="index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  </head>
  <body>
    <div class="container">
    <header class="d-flex flex-wrap justify-content-left py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">Landsat (WIP)</span>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
      </ul>
    </header>
      <div>
        <div class="row">
          <div class="col">
        <label for="LongInput">Longitude</label>
        <input class="form-control" id="LongInput">
            </div>
          <div class="col">
        <label for="LatInput">Latitude</label>
        <input class="form-control" id="LatInput">
            </div>
          <div class="col">
          <label for="ScanInput">Next Scan:</label>
          <input class="form-control" id="ScanInput">
            <input type="button" onclick="remind()" value="Remind Me">
          </div>
        </div>
      <div id="map" class="justify-content-center" style="width: 600px; height:400px"></div>
        <div id="submit"><input type="button" value="Calculate" onclick="calculate()"></input></div>
      </div>
    </div>

  <script>

	const map = L.map('map').setView([50.727, -3.476], 13);
    var marker;
	const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

    // define rectangle geographical bounds
    function calculate() {
      var latlngs = [[52.73441, -1.46942],[50.53967, -1.25835],[50.61457, 2.16182],[52.81541, 2.12012]];

      var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
    // zoom the map to the polygon
      map.fitBounds(polygon.getBounds());
      /*
      var bounds = [[52.73441, -1.46942], [50.61457, 2.16182]];

    // create an orange rectangle
    L.rectangle(bounds, {color: "#6e4ddb", weight: 1}).addTo(map);

    // zoom the map to the rectangle bounds
    map.fitBounds(bounds);

     */
    document.getElementById("ScanInput").value = '11/10/2024'

}


  map.on('click', function (e) {
    if (marker) { // check
        map.removeLayer(marker); // remove
    }
    marker = new L.Marker(e.latlng).addTo(map); // set
    document.getElementById("LatInput").value = Math.round(e.latlng.lat * 100) / 100
    document.getElementById("LongInput").value = Math.round(e.latlng.lng * 100) / 100;
  });


  </script>
  </body>
</html>